* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}

.white {
  color: white;
}
.gradient {
  color: rgb(239, 231, 197);
}

.previus {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.previus button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(139, 188, 155);
  align-self: center;
  font-size: medium;
}

.test1,
.test {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.btn1,
.btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: wheat;
}

.next1,
.next {
  width: 250px;
  height: 30px;
  background-color: seagreen;
  color: white;
}
.special {
  background-color: grey;
}

.scores {
  width: 100px;
  position: absolute;
  height: 100px;
  border: 8px double green;
  top: 50px;
  right: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: green;
}

.minus-score {
  width: 100px;
  position: absolute;
  height: 100px;
  border: 8px double rgb(194, 52, 52);
  top: 50px;
  left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  color: red;
}

.hidden {
  display: none;
}
